{% load static %}

<!doctype html>
<html lang="en" class="no-js">

<head>
    <!-- Dynamic Title -->
    <title>{% block title %}{% endblock title %} - Where Style Meets Comfort!</title>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="meta description">
    <!-- <link rel="shortcut icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"> -->
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/favicon_white/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon_white/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon_white/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/favicon_white/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'img/favicon/favicon_white/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- Favicons -->
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <!-- all css -->
    <link rel="stylesheet" href="{% static 'css/root.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="body-wrapper">
        <!-- Announcement Bar Start -->
        {% include 'partials/_announcement_bar.html' %}
        <!-- Announcement Bar End -->

        <!-- Header Start -->
        {% include 'partials/_header.html' %}
        <!-- Header End -->

        {% if request.path != '/' %}
        <!-- Breadcrumb Start -->
        {% include 'partials/_breadcrumb.html' %}
        <!-- Breadcrumb End -->
        {% endif %}

        <!-- Main Content -->
        {% block content %}
        {% endblock content %}
        <!-- Main Content -->

        <!-- Footer Start -->
        {% include 'partials/_footer.html' %}
        <!-- Footer End -->

        <!-- Scroll Up Start -->
        {% include 'partials/_scroll_up.html' %}
        <!-- Scroll Up End -->

        <!-- Drawer Menu Start -->
        {% include 'partials/_drawer_menu.html' %}
        <!-- Drawer Menu End -->

        <!-- Drawer Cart Start -->
        {% include 'partials/_drawer_cart.html' %}
        <!-- Drawer Cart End -->

        {% if request.path == '/' %}
        <!-- Product QuickView Start -->
        {% include 'partials/_product_quickview.html' %}
        <!-- Product QuickView End -->

        {% if not user.is_authenticated %}
        <!-- Newsletter Subscribe Modal Start -->
        {% include 'partials/_newsletter.html' %}
        <!-- Newsletter Subscribe Modal End -->
        {% endif %}
        {% endif %}

        <!-- all js -->
        <script src="{% static 'js/vendor.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </div>
</body>

</html>